<div
  class="bg-white rounded-2xl shadow-md p-6 text-center hover:shadow-lg transition-shadow"
>
  <div
    class="w-16 h-16 bg-primary-orange/10 rounded-full flex items-center justify-center mx-auto mb-4"
  >
    <!-- <lucide-icon
            [name]="category.icon"
            class="text-primary-orange"
            size="32"
          ></lucide-icon> -->
  </div>
  <h3 class="text-xl font-bold text-dark-text mb-1">
    {{ category.name }}
  </h3>
  <p class="text-gray-text">{{ category.chefs }} chefs</p>
</div>
