<div class="bg-white rounded-2xl shadow-md p-6 mt-3">
  <div class="flex justify-between mb-4">
    <h3 class="font-bold text-dark-text">{{ review.user }}</h3>
    <div class="flex">
      <span
        *ngFor="let star of chefProfileService.getStars(review.rating)"
        class="text-amber-400"
      >
        ⭐
        <!-- <lucide-icon
                  name="star"
                  [attr.fill]="star ? 'currentColor' : 'none'"
                  size="16"
                ></lucide-icon>  -->
      </span>
    </div>
  </div>
  <p class="text-gray-text mb-2">{{ review.comment }}</p>
  <p class="text-gray-400 text-sm">{{ review.date }}</p>
</div>
