






<div class="filter-sidebar">
  <!-- Filter Header -->
  <div class="filter-header">
    <div class="flex items-center justify-between">
      <h2 class="filter-title">Filters</h2>
      <button (click)="clearAll()" class="clear-button">
        Clear All
      </button>
    </div>
  </div>

  <!-- Sort Options -->
  <div class="filter-section">
    <h3 class="filter-section-title">Sort By</h3>

    <!-- Sort Field Selection -->
    <div class="space-y-3 mb-6">
      <div class="flex items-center">
        <input [(ngModel)]='sortBy' id="sort-rating" type="radio" name="sortBy" value="rating" checked
          class="filter-input">
        <label for="sort-rating" class="filter-label">
          Rating
        </label>
      </div>
      <div class="flex items-center">
        <input [(ngModel)]='sortBy' id="sort-name" type="radio" name="sortBy" value="name"
          class="filter-input">
        <label for="sort-name" class="filter-label">
          Restaurant Name
        </label>
      </div>

      <!-- categories items -->
    </div>

    <!-- Sort Order Selection -->
    <div class="space-y-3">
      <h4 class="filter-section-title">Order</h4>
      <div class="flex items-center">
        <input [(ngModel)]="sortOrder" id="sort-desc" type="radio" name="sortOrder" value="-" checked
          class="filter-input">
        <label for="sort-desc" class="filter-label">
          Highest to Lowest
        </label>
      </div>
      <div class="flex items-center">
        <input [(ngModel)]="sortOrder" id="sort-asc" type="radio" name="sortOrder" value=""
          class="filter-input">
        <label for="sort-asc" class="filter-label">
          Lowest to Highest
        </label>
      </div>
    </div>
  </div>

  <!-- Apply Button -->
  <div class="p-6 border-t" style="border-color: var(--filter-border)">
    <button
     (click)="applyFilters()"
      class="apply-button">
      Apply Filters
    </button>
  </div>
</div>




